/* Base imported –––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-size: 62.5%;
  overflow-x: hidden;
  }

body {
  font-size: 1.7rem; 
  line-height: 1.58;
  font-family: $font-stack;
  font-weight: $font-regular;
  color: $primary-text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $third-bg-color;}

.body-overflow-hidden {
  overflow: hidden; }