/* Variables imported –––––––––––––––––––––––––––––––––––––––––––––––––– */

$primary-color: #37dd7f;
$primary-color-bg: #E9FBEB;

$secondary-color: #5C50E2;
$secondary-color-bg: #EBE9FB;
$secondary-color-bg-dark: #4e4a7b;

$third-color: #E2508D;
$third-color-bg: #FBEBE9;

$fourth-color: #FF9900;
$fourth-color-bg: #FFF2DF;

$primary-accent-color: #f07167;
$primary-accent-color-bg: #FDEDEC;

$messenger-color: #0078ff;
$messenger-color-bg: #DFEEFF;

$fb-color: #1877F2;
$fb-color-bg: #E2EEFD;

$ig-color: #C13584;
$ig-color-bg: #F7E6F0;

$tt-color: #CF3062;
$tt-color-bg: #FFDFE9;

$svg-color-1: #5C50E2;
$svg-color-2: #5C50E2;

$primary-bg-color: #ffffff;
$secondary-bg-color: #E4EBF2;
$third-bg-color: #F2F5F9;
$fourth-bg-color: #273646;
$fourth-bg-color-dark: #304052;

$primary-text-color: #373F51;
$secondary-text-color: #9FACBD;
$third-text-color: #fafafa;
$fourth-text-color: #c9d1d6;

$dark-line-color: #3a4e63;

$font-stack: ('GothamMedium', 'Helvetica', 'Arial', sans-serif);
$font-stack-alt: ('Inter', 'Helvetica', 'Arial', sans-serif);

$font-regular: 400;
$font-bold: 500;